/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run wal-yan/target-methylseq-qc -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for picard_profiler'
    config_profile_description = 'Minimal test dataset to check pipeline functionality for picard_profiler mode'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input  = "${projectDir}/assets/test_samplesheet_picard_profiler.csv"
    output = "test-picard-profiler-output"

    // References
    ref_fasta = "https://zenodo.org/records/13622024/files/genome_sub.fa"
    ref_fai   = "https://zenodo.org/records/13622024/files/genome_sub.fa.fai"
    ref_bed   = "https://zenodo.org/records/13622024/files/target.bed"
}
